# ==========================================
# RiskGraph Platform - Environment Variables
# ==========================================

# Application
ENVIRONMENT=local
LOG_LEVEL=INFO
APP_PORT=8000
METRICS_PORT=9090

# Kafka Messaging
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TRANSACTIONS_TOPIC=fraud.transactions.raw
KAFKA_RAW_IDENTITY_TOPIC=fraud.identity.raw
KAFKA_ALERTS_TOPIC=fraud.alerts
KAFKA_DLQ_TOPIC=fraud.dlq
KAFKA_CONSUMER_GROUP=riskgraph-streaming-group

# PostgreSQL Operational Store & Airflow Backend
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=riskgraph
POSTGRES_USER=riskgraph_user
POSTGRES_PASSWORD=riskgraph_secure_pass
DATABASE_URL=postgresql://riskgraph_user:riskgraph_secure_pass@localhost:5432/riskgraph

# Neo4j Identity Graph Database
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=riskgraph_graph_pass
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# Redis Cache & Sliding Window State
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# S3 / MinIO / LocalStack Object Storage
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_NAME=riskgraph-lake
S3_BRONZE_PREFIX=bronze
S3_SILVER_PREFIX=silver
S3_GOLD_PREFIX=gold
S3_REPORTS_PREFIX=reports

# Apache Spark
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=2g
SPARK_EXECUTOR_MEMORY=2g

# Apache Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
AIRFLOW__WEBSERVER__SECRET_KEY=riskgraph_airflow_secret_key_12345
AIRFLOW_UID=50000
